In [110]:
import numpy as np
import pandas as pd

How do you handle duplicate values in a dataset in Python?

In [2]:
url = 'https://raw.githubusercontent.com/jaywurui/python_notebook/master/BA501_python_data.csv'

In [9]:
my_data = pd.read_csv(url, sep=",")
my_data.head(15)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,JP,20170402,12624548,5813140433216629693,16.138855,5006730028073359543,ANDROID_APPS
1,US,20170403,12624549,16333056276711034931,9.990000,5938685669571545259,ANDROID_APPS
2,JP,20170404,12624548,11227119161741298366,19.887087,17623708458399141713,ANDROID_APPS
3,US,20170403,12624548,11927299833124210932,19.990000,18042812344456618148,ANDROID_APPS
4,JP,20170403,12624549,11644727017708872749,88.220093,4325104700699531031,ANDROID_APPS
5,FR,20170406,12624548,2887851716418524034,10.641677,15563614621402392174,ANDROID_APPS
6,US,20170406,12624548,8835194413765780524,9.990000,793284520969747371,ANDROID_APPS
7,US,20170402,12624549,2761291987218019434,10.090000,4877509876568871706,MUSIC
8,US,20170405,12624548,9027895522629963459,9.990000,3647559719307779196,ANDROID_APPS
9,US,20170405,12624548,2588200289165850850,19.990000,3647559719307779196,ANDROID_APPS
10,KR,20170402,12624548,163542271130138050,1.967007,234343989879687882,ANDROID_APPS
11,KR,20170402,12624548,18314448354305184003,1.967007,234343989879687882,ANDROID_APPS
12,JP,20170402,12624549,1931426249776431110,5.379618,1925282073030462007,ANDROID_APPS
13,US,20170402,12624549,16273876950050275625,10.670000,2825758151779042993,MUSIC
14,US,20170407,12624548,10840886354488278741,1.990000,9548909044371812783,ANDROID_APPS

In [ ]:
# Checking for duplicates

In [8]:
my_data.duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
73880    False
73881    False
73882    False
73883    False
73884    False
73885    False
73886    False
73887    False
73888    False
73889    False
73890    False
73891    False
73892    False
73893    False
73894    False
73895    False
73896    False
73897    False
73898    False
73899    False
73900    False
73901    False
73902    False
73903    False
73904    False
73905    False
73906    False
73907    False
73908    False
73909    False
Length: 73910, dtype: bool

In [ ]:
# The result above indicates there is no duplicate value
# if there are duplicate values, then use df.drop_duplicates()

In [10]:
my_data.drop_duplicates()

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,JP,20170402,12624548,5813140433216629693,16.138855,5006730028073359543,ANDROID_APPS
1,US,20170403,12624549,16333056276711034931,9.990000,5938685669571545259,ANDROID_APPS
2,JP,20170404,12624548,11227119161741298366,19.887087,17623708458399141713,ANDROID_APPS
3,US,20170403,12624548,11927299833124210932,19.990000,18042812344456618148,ANDROID_APPS
4,JP,20170403,12624549,11644727017708872749,88.220093,4325104700699531031,ANDROID_APPS
5,FR,20170406,12624548,2887851716418524034,10.641677,15563614621402392174,ANDROID_APPS
6,US,20170406,12624548,8835194413765780524,9.990000,793284520969747371,ANDROID_APPS
7,US,20170402,12624549,2761291987218019434,10.090000,4877509876568871706,MUSIC
8,US,20170405,12624548,9027895522629963459,9.990000,3647559719307779196,ANDROID_APPS
9,US,20170405,12624548,2588200289165850850,19.990000,3647559719307779196,ANDROID_APPS
10,KR,20170402,12624548,163542271130138050,1.967007,234343989879687882,ANDROID_APPS
11,KR,20170402,12624548,18314448354305184003,1.967007,234343989879687882,ANDROID_APPS
12,JP,20170402,12624549,1931426249776431110,5.379618,1925282073030462007,ANDROID_APPS
13,US,20170402,12624549,16273876950050275625,10.670000,2825758151779042993,MUSIC
14,US,20170407,12624548,10840886354488278741,1.990000,9548909044371812783,ANDROID_APPS
15,US,20170407,12624548,13509704498549969641,1.990000,9548909044371812783,ANDROID_APPS
16,FR,20170404,12624548,10156729419384894204,2.122063,7177229992970966269,ANDROID_APPS
17,US,20170401,12624549,17866604156934800547,9.990000,17061805777408420188,ANDROID_APPS
18,US,20170401,12624549,17172758733364150210,4.990000,17061805777408420188,ANDROID_APPS
19,US,20170401,12624549,4309427141110727791,9.990000,17061805777408420188,ANDROID_APPS
20,US,20170401,12624549,13054750004532361873,4.990000,17061805777408420188,ANDROID_APPS
21,US,20170401,12624549,9668472000207734522,19.990000,17061805777408420188,ANDROID_APPS
22,ID,20170404,12624549,17859748408594464317,0.900209,9149768684639718630,ANDROID_APPS
23,GB,20170407,12624548,16447787927329176121,2.467122,8194296029841078338,ANDROID_APPS
24,GB,20170402,12624549,9711595975487748780,4.993586,3196750080339569107,ANDROID_APPS
25,GB,20170407,12624549,13108513329546069822,2.219170,3196750080339569107,ANDROID_APPS
26,US,20170406,12624548,15497417806611168788,9.990000,11852286259447629475,ANDROID_APPS
27,IT,20170401,12624548,14694857484980201220,2.123837,13600555877110054452,ANDROID_APPS
28,IT,20170402,12624548,8457069893257724816,2.123837,13600555877110054452,ANDROID_APPS
29,BR,20170407,12624549,3710803681919434513,3.771692,4131707298051750259,ANDROID_APPS
...,...,...,...,...,...,...,...
73880,US,20170403,12624549,10151380505257442492,1.990000,8421951665437654655,ANDROID_APPS
73881,US,20170403,12624549,14504947818282790070,4.990000,8421951665437654655,ANDROID_APPS
73882,US,20170401,12624549,13840822139616650734,0.990000,5277118335645791322,ANDROID_APPS
73883,US,20170401,12624549,5530185573679841844,0.990000,5277118335645791322,ANDROID_APPS
73884,US,20170401,12624549,311177774074213914,0.990000,5277118335645791322,ANDROID_APPS
73885,US,20170407,12624549,11159257956065032706,6.990000,5277118335645791322,ANDROID_APPS
73886,US,20170401,12624549,8624375232262768315,0.990000,5277118335645791322,ANDROID_APPS
73887,US,20170407,12624549,7664945592309141443,0.990000,5277118335645791322,ANDROID_APPS
73888,US,20170404,12624549,6348049333301399287,0.990000,5277118335645791322,ANDROID_APPS
73889,US,20170407,12624549,16872300785315309183,0.990000,5277118335645791322,ANDROID_APPS
73890,US,20170405,12624549,17536989754197573108,0.990000,5277118335645791322,ANDROID_APPS
73891,US,20170407,12624549,6303493244147022522,0.990000,5277118335645791322,ANDROID_APPS
73892,US,20170407,12624549,9046847135016571186,0.990000,5277118335645791322,ANDROID_APPS
73893,US,20170407,12624549,16245868508862016855,0.990000,5277118335645791322,ANDROID_APPS
73894,US,20170405,12624549,2562112628384373625,0.990000,5277118335645791322,ANDROID_APPS
73895,US,20170401,12624549,8161308829430752838,0.990000,5277118335645791322,ANDROID_APPS
73896,US,20170401,12624549,7480378351676032504,0.990000,5277118335645791322,ANDROID_APPS
73897,US,20170403,12624548,16483215756500408423,1.070000,2037177391099801444,ANDROID_APPS
73898,JP,20170402,12624548,14014033083882804398,3.227771,3929662943179788569,ANDROID_APPS
73899,JP,20170402,12624548,4351357150330387082,8.607389,3929662943179788569,ANDROID_APPS
73900,JP,20170404,12624548,3592277135384909432,32.478030,11552720349904444535,ANDROID_APPS
73901,JP,20170403,12624548,12418470914692041327,32.407381,11552720349904444535,ANDROID_APPS
73902,US,20170407,12624548,11639753371766987819,9.990000,7071947499862829843,MUSIC
73903,US,20170403,12624548,15284184602018149137,10.640000,2531844752389960958,ANDROID_APPS
73904,US,20170402,12624549,9812307515499620375,7.990000,1912197141410583360,YOUTUBE
73905,US,20170403,12624548,8529754119075378513,16.110000,3353613577305273816,ANDROID_APPS
73906,US,20170402,12624549,1545393608203752248,5.000000,6046493884787456084,MULTI_CONTAINER
73907,US,20170402,12624549,15597374315984713350,19.990000,6046493884787456084,YOUTUBE
73908,KR,20170402,12624548,1813806410976065581,7.868031,15940200285922588837,ANDROID_APPS
73909,JP,20170402,12624548,14938275805862501568,2.062187,2801009977600674803,ANDROID_APPS

You are given two tables - friend_request and request_accepted. Friend_request contains requester_id, time and sent_to_id and request_accepted table contains time, acceptor_id and requestor_id. How will you determine the overall acceptance rate of requests? (Write in both Python and SQL)

In [112]:
friend_request = pd.DataFrame({
    'requester_id': ['501', '502', '503', '504'],
    'time': ['11/1/2017', '11/2/2017', '11/3/2017', '11/4/2017'],
    'send_to_id': ['801', '802', '803', '804']
})

In [148]:
request_accepted = pd.DataFrame({
    'requester_id': ['501', '502', '503'],
    'acceptor_id': ['801', '802', '803']
})

In [115]:
friend_request

  requester_id send_to_id       time
0          501        801  11/1/2017
1          502        802  11/2/2017
2          503        803  11/3/2017
3          504        804  11/4/2017

In [149]:
request_accepted

  acceptor_id requester_id
0         801          501
1         802          502
2         803          503

In [156]:
data = pd.merge(friend_request, request_accepted, how='left', on='requester_id')

In [157]:
data

  requester_id send_to_id       time acceptor_id
0          501        801  11/1/2017         801
1          502        802  11/2/2017         802
2          503        803  11/3/2017         803
3          504        804  11/4/2017         NaN

In [178]:
len(data['acceptor_id'][data.acceptor_id > 0]) / (len(data.requester_id)*1.0)

0.75

“Issuer” of a credit card are companies like Visa, Mastercard, American Express. Now we know the following rules:

CC number starts with: '4'
CC len : 16
Issuer: VISA

CC number starts with: '34', '37'
CC len : 15
Issuer : AMEX

CC number starts with: '36'
CC len : 14
Issuer : Diners Club

Credit card number starts with
'4026', '417500', '4405', '4508', '4844',
'4913', '4917'
CC len : 16
Issuer : VISAELECTRON

Now write Python scripts to identify the issuer of the following credit card numbers:

'4175004175004172' 
'4917491749174917'
'346416800707698'
'376416800707698'
'37641680070769832112'
'36641680070769'
'54545641680070769’

In [15]:
from pandas import DataFrame

In [79]:
card_number = ['4175004175004172'
,'4917491749174917'
,'346416800707698'
,'376416800707698'
,'37641680070769832112'
,'36641680070769'
,'54545641680070769']

In [81]:
df = DataFrame(card_number,
              index = [1, 2, 3, 4, 5, 6, 7])

In [84]:
df.columns = ['card number']

In [85]:
df

            card number
1      4175004175004172
2      4917491749174917
3       346416800707698
4       376416800707698
5  37641680070769832112
6        36641680070769
7     54545641680070769

In [99]:
card_number = ['4175004175004172'
,'4917491749174917'
,'346416800707698'
,'376416800707698'
,'37641680070769832112'
,'36641680070769'
,'54545641680070769']

In [193]:
def issuer(card_number):
    if len(card_number)==16 and card_number[0]=='4':
        if (card_number[0:4]==['4026', '4405', '4508', '4844', '4913', '4917']) or (card_number[0:6]=='417500'):
            return 'VISAELECTRON'
        else:
            return 'VISA'
    elif len(card_number)==15 and (card_number[0:2]=='34' or card_number[0:2]=='37'):
        return 'AMEX'
    elif len(card_number)==14 and card_number[0:2]=='36':
        return 'Diners Club'
    else:
        return 'N/A'

In [194]:
for card_number in card_number:
    print issuer(card_number)

N/A